<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reengineering.ddd.accounting.mybatis.mapper.CustomerMapper">
    <resultMap id="customerDescription" type="reengineering.ddd.accounting.description.CustomerDescription">
        <constructor>
            <arg column="name" jdbcType="VARCHAR" javaType="String"/>
            <arg column="email" jdbcType="VARCHAR" javaType="String"/>
        </constructor>
    </resultMap>

    <resultMap id="customer" type="reengineering.ddd.accounting.model.Customer">
        <id property="identity" column="id" jdbcType="BIGINT" javaType="String"/>
        <association property="description" resultMap="customerDescription"/>
        <association property="sourceEvidences" resultMap="sourceEvidences"/>
    </resultMap>

    <resultMap id="sourceEvidences" type="reengineering.ddd.accounting.mybatis.model.CustomerSourceEvidences">
        <result column="id" property="customerId" javaType="String"/>
    </resultMap>

    <select id="findById" resultMap="customer">
        select id, name, email
        from customers
        where id = #{id}
    </select>
</mapper>