<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reengineering.ddd.accounting.mybatis.ModelMapper">
    <select id="findCustomerById" resultMap="model.customer">
        select c.id               as id,
               c.name             as name,
               c.email            as email,
               a.id               as account_id,
               a.current_amount   as account_current_amount,
               a.current_currency as account_current_currency
        from customers c
                 left outer join accounts a on a.customer_id = c.id
        where c.id = #{id}
    </select>

    <select id="findSourceEvidencesByCustomerId" resultMap="model.sourceEvidence">
        select id, customer_id, type
        from source_evidences e
        where customer_id = #{customer_id}
    </select>

    <select id="findTransactionsByAccountId" resultMap="model.transaction">
        select id, account_id, source_evidence_id, amount, currency, created_at
        from transactions
        where account_id = #{account_id}
    </select>
</mapper>